<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <span class="mobile btn-mobile-menu">
      <div class="nav_container">
         <nav class="nav-menu-item" style = "float:right">
            <i class="nav-menu-item">
              <a href="/#blog" title="{{site.blog_button.description}}" class="blog-button">  {{site.blog_button.title}}
              </a>
            </i>
            {% for item in site.nav %}
                <i class="nav-menu-item">

                  <a href="{{item.url}}" title="{{item.description}}" class="btn-mobile-menu__icon">
                      {{item.title}}
                  </a>
                </i>
            {% endfor %}
          </nav>
      </div>
    </span>
    
    {% include side-panel.html %}

    <div class="content-wrapper">
        <div class="content-wrapper__inner" id="content-article">
            {{ content }}
            {% include footer.html %}
        </div>
        <div style="position: absolute; top: 20px; z-index: -1" class="hidden" id="geek-pic">
            {% include right.html %}
        </div>

    </div>

    {% include external.html %}

    <amp-auto-ads type="adsense"
                  data-ad-client="ca-pub-9106024237446557">
    </amp-auto-ads>
  </body>

</html>
<script>
    function goPAGE() {
        if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
            // window.location.href="移动端url";
        } else {
            // window.location.href="pc端url";
            $('#geek-pic').removeClass('hidden');
            $('#content-article').css('margin-right', '25%');
        }
    }

    goPAGE();        // 调用function
</script>
<!--<div id="music" style="position: absolute;top: 10px;right: 10%;">-->
    <!--<audio controls="controls" autoplay="autoplay" loop="loop">-->
        <!--<source src="/static/musics/梁博-男孩.mp4" type="audio/mpeg" />-->
        <!--<source src="/static/musics/赵雷-成都.mp3" type="audio/mpeg" />-->
    <!--</audio>-->
<!--</div>-->